{"openapi": "3.0.3", "info": {"title": "E-commerce API", "description": "A comprehensive REST API for e-commerce operations including user management, product catalog, and shopping cart functionality", "version": "1.0.0", "contact": {"name": "API Support", "email": "support@ecommerce.com"}, "license": {"name": "MIT", "url": "https://opensource.org/licenses/MIT"}}, "servers": [{"url": "https://api.ecommerce.com/v1", "description": "Production server"}, {"url": "https://staging-api.ecommerce.com/v1", "description": "Staging server"}], "security": [{"bearerAuth": []}], "paths": {"/users": {"get": {"tags": ["User Management"], "summary": "Get all users", "description": "Retrieve a list of all users with optional pagination", "parameters": [{"name": "page", "in": "query", "description": "Page number for pagination", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}}, {"name": "size", "in": "query", "description": "Number of items per page", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}], "responses": {"200": {"description": "Successfully retrieved users", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/UserDTO"}}}}}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "403": {"$ref": "#/components/responses/ForbiddenError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["User Management"], "summary": "Create a new user", "description": "Create a new user account", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserDTO"}}}}, "responses": {"201": {"description": "User created successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "409": {"$ref": "#/components/responses/ConflictError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/users/{id}": {"get": {"tags": ["User Management"], "summary": "Get user by ID", "description": "Retrieve a specific user by their ID", "parameters": [{"name": "id", "in": "path", "description": "User ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "responses": {"200": {"description": "User found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserDTO"}}}}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "put": {"tags": ["User Management"], "summary": "Update user", "description": "Update an existing user", "parameters": [{"name": "id", "in": "path", "description": "User ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserDTO"}}}}, "responses": {"200": {"description": "User updated successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["User Management"], "summary": "Delete user", "description": "Delete a user by ID", "parameters": [{"name": "id", "in": "path", "description": "User ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "responses": {"204": {"description": "User deleted successfully"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/products": {"get": {"tags": ["Product Management"], "summary": "Get all products", "description": "Retrieve a list of all products with optional filtering and pagination", "parameters": [{"name": "category", "in": "query", "description": "Filter by product category", "required": false, "schema": {"type": "string"}}, {"name": "minPrice", "in": "query", "description": "Minimum price filter", "required": false, "schema": {"type": "number", "format": "double", "minimum": 0}}, {"name": "maxPrice", "in": "query", "description": "Maximum price filter", "required": false, "schema": {"type": "number", "format": "double", "minimum": 0}}, {"name": "page", "in": "query", "description": "Page number for pagination", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}}, {"name": "size", "in": "query", "description": "Number of items per page", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}}], "responses": {"200": {"description": "Successfully retrieved products", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ProductDTO"}}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["Product Management"], "summary": "Create a new product", "description": "Add a new product to the catalog", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductDTO"}}}}, "responses": {"201": {"description": "Product created successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "403": {"$ref": "#/components/responses/ForbiddenError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/products/{id}": {"get": {"tags": ["Product Management"], "summary": "Get product by ID", "description": "Retrieve a specific product by its ID", "parameters": [{"name": "id", "in": "path", "description": "Product ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "responses": {"200": {"description": "Product found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductDTO"}}}}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "put": {"tags": ["Product Management"], "summary": "Update product", "description": "Update an existing product", "parameters": [{"name": "id", "in": "path", "description": "Product ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductDTO"}}}}, "responses": {"200": {"description": "Product updated successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "403": {"$ref": "#/components/responses/ForbiddenError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["Product Management"], "summary": "Delete product", "description": "Delete a product by ID", "parameters": [{"name": "id", "in": "path", "description": "Product ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "responses": {"204": {"description": "Product deleted successfully"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "403": {"$ref": "#/components/responses/ForbiddenError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/cart": {"get": {"tags": ["Cart Management"], "summary": "Get user's cart", "description": "Retrieve the current user's shopping cart", "responses": {"200": {"description": "Cart retrieved successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["Cart Management"], "summary": "Create or update cart", "description": "Create a new cart or update existing cart", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "responses": {"200": {"description": "Cart updated successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "201": {"description": "Cart created successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["Cart Management"], "summary": "Clear cart", "description": "Remove all items from the user's cart", "responses": {"204": {"description": "Cart cleared successfully"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/cart/items": {"post": {"tags": ["Cart Management"], "summary": "Add item to cart", "description": "Add a product item to the user's cart", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartItemDTO"}}}}, "responses": {"201": {"description": "Item added to cart successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/cart/items/{itemId}": {"put": {"tags": ["Cart Management"], "summary": "Update cart item", "description": "Update quantity or details of a cart item", "parameters": [{"name": "itemId", "in": "path", "description": "Cart item ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartItemDTO"}}}}, "responses": {"200": {"description": "Cart item updated successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CartDTO"}}}}, "400": {"$ref": "#/components/responses/BadRequestError"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["Cart Management"], "summary": "Remove item from cart", "description": "Remove a specific item from the user's cart", "parameters": [{"name": "itemId", "in": "path", "description": "Cart item ID", "required": true, "schema": {"type": "integer", "format": "int64", "minimum": 1}}], "responses": {"204": {"description": "Item removed from cart successfully"}, "401": {"$ref": "#/components/responses/UnauthorizedError"}, "404": {"$ref": "#/components/responses/NotFoundError"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}}, "components": {"securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "JWT", "description": "JWT token for authentication"}}, "schemas": {"UserDTO": {"type": "object", "required": ["email", "firstName", "lastName"], "properties": {"id": {"type": "integer", "format": "int64", "description": "User unique identifier", "readOnly": true}, "email": {"type": "string", "format": "email", "description": "User email address", "maxLength": 255, "example": "user@example.com"}, "firstName": {"type": "string", "description": "User first name", "minLength": 1, "maxLength": 50, "example": "John"}, "lastName": {"type": "string", "description": "User last name", "minLength": 1, "maxLength": 50, "example": "Doe"}, "phoneNumber": {"type": "string", "description": "User phone number", "pattern": "^\\+?[1-9]\\d{1,14}$", "example": "+1234567890"}, "address": {"type": "string", "description": "User address", "maxLength": 500, "example": "123 Main St, City, State 12345"}, "createdAt": {"type": "string", "format": "date-time", "description": "User creation timestamp", "readOnly": true}, "updatedAt": {"type": "string", "format": "date-time", "description": "User last update timestamp", "readOnly": true}}}, "ProductDTO": {"type": "object", "required": ["name", "price", "category"], "properties": {"id": {"type": "integer", "format": "int64", "description": "Product unique identifier", "readOnly": true}, "name": {"type": "string", "description": "Product name", "minLength": 1, "maxLength": 255, "example": "Wireless Headphones"}, "description": {"type": "string", "description": "Product description", "maxLength": 2000, "example": "High-quality wireless headphones with noise cancellation"}, "price": {"type": "number", "format": "double", "description": "Product price", "minimum": 0, "example": 99.99}, "category": {"type": "string", "description": "Product category", "minLength": 1, "maxLength": 100, "example": "Electronics"}, "brand": {"type": "string", "description": "Product brand", "maxLength": 100, "example": "TechBrand"}, "sku": {"type": "string", "description": "Stock Keeping Unit", "maxLength": 50, "example": "WH-001"}, "stockQuantity": {"type": "integer", "description": "Available stock quantity", "minimum": 0, "example": 100}, "imageUrl": {"type": "string", "format": "uri", "description": "Product image URL", "example": "https://example.com/images/product.jpg"}, "weight": {"type": "number", "format": "double", "description": "Product weight in kg", "minimum": 0, "example": 0.5}, "dimensions": {"type": "string", "description": "Product dimensions", "example": "20x15x8 cm"}, "isActive": {"type": "boolean", "description": "Whether the product is active", "default": true}, "createdAt": {"type": "string", "format": "date-time", "description": "Product creation timestamp", "readOnly": true}, "updatedAt": {"type": "string", "format": "date-time", "description": "Product last update timestamp", "readOnly": true}}}, "CartDTO": {"type": "object", "required": ["userId"], "properties": {"id": {"type": "integer", "format": "int64", "description": "Cart unique identifier", "readOnly": true}, "userId": {"type": "integer", "format": "int64", "description": "User ID who owns the cart", "minimum": 1}, "items": {"type": "array", "description": "List of items in the cart", "items": {"$ref": "#/components/schemas/CartItemDTO"}}, "totalAmount": {"type": "number", "format": "double", "description": "Total amount of all items in cart", "minimum": 0, "readOnly": true}, "totalItems": {"type": "integer", "description": "Total number of items in cart", "minimum": 0, "readOnly": true}, "createdAt": {"type": "string", "format": "date-time", "description": "Cart creation timestamp", "readOnly": true}, "updatedAt": {"type": "string", "format": "date-time", "description": "Cart last update timestamp", "readOnly": true}}}, "CartItemDTO": {"type": "object", "required": ["productId", "quantity"], "properties": {"id": {"type": "integer", "format": "int64", "description": "Cart item unique identifier", "readOnly": true}, "productId": {"type": "integer", "format": "int64", "description": "Product ID", "minimum": 1}, "product": {"$ref": "#/components/schemas/ProductDTO", "description": "Product details", "readOnly": true}, "quantity": {"type": "integer", "description": "Quantity of the product", "minimum": 1, "maximum": 999, "example": 2}, "unitPrice": {"type": "number", "format": "double", "description": "Unit price at the time of adding to cart", "minimum": 0, "readOnly": true}, "totalPrice": {"type": "number", "format": "double", "description": "Total price for this item (quantity * unitPrice)", "minimum": 0, "readOnly": true}, "addedAt": {"type": "string", "format": "date-time", "description": "Timestamp when item was added to cart", "readOnly": true}}}, "ErrorResponse": {"type": "object", "required": ["timestamp", "status", "error", "message", "path"], "properties": {"timestamp": {"type": "string", "format": "date-time", "description": "Error timestamp"}, "status": {"type": "integer", "description": "HTTP status code"}, "error": {"type": "string", "description": "Error type"}, "message": {"type": "string", "description": "Error message"}, "path": {"type": "string", "description": "Request path that caused the error"}, "details": {"type": "array", "description": "Additional error details", "items": {"type": "string"}}}}, "ValidationErrorResponse": {"type": "object", "required": ["timestamp", "status", "error", "message", "path", "validationErrors"], "properties": {"timestamp": {"type": "string", "format": "date-time", "description": "Error timestamp"}, "status": {"type": "integer", "description": "HTTP status code"}, "error": {"type": "string", "description": "Error type"}, "message": {"type": "string", "description": "Error message"}, "path": {"type": "string", "description": "Request path that caused the error"}, "validationErrors": {"type": "object", "description": "Field-specific validation errors", "additionalProperties": {"type": "string"}}}}}, "responses": {"BadRequestError": {"description": "Bad Request - Invalid input data", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "UnauthorizedError": {"description": "Unauthorized - Authentication required", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "ForbiddenError": {"description": "Forbidden - Insufficient permissions", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "NotFoundError": {"description": "Not Found - Resource not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "ConflictError": {"description": "Conflict - Resource already exists", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "InternalServerError": {"description": "Internal Server Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "tags": [{"name": "User Management", "description": "Operations related to user management"}, {"name": "Product Management", "description": "Operations related to product catalog management"}, {"name": "Cart Management", "description": "Operations related to shopping cart management"}]}