openapi: 3.0.3
info:
  title: 'Ecommerce API'
  version: '1.0.0'
  description: 'Comprehensive API for ecommerce operations including user management, product catalog, orders, and payments'
  contact:
    name: 'API Support'
    email: 'api-support@ecommerce.com'
  license:
    name: 'MIT'
    url: 'https://opensource.org/licenses/MIT'

servers:
  - url: 'https://api.ecommerce.com/v1'
    description: 'Production server'
  - url: 'https://staging-api.ecommerce.com/v1'
    description: 'Staging server'
  - url: 'http://localhost:8080/v1'
    description: 'Development server'

security:
  - bearerAuth: []
  - apiKey: []

paths:
  /users:
    get:
      tags:
        - Users
      summary: 'Get all users'
      description: 'Retrieve a paginated list of all users'
      parameters:
        - name: page
          in: query
          description: 'Page number for pagination'
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          description: 'Number of items per page'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          description: 'Sort field and direction'
          required: false
          schema:
            type: string
            default: 'id,asc'
      responses:
        '200':
          description: 'Successfully retrieved users'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    post:
      tags:
        - Users
      summary: 'Create a new user'
      description: 'Create a new user account'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: 'User created successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{id}:
    get:
      tags:
        - Users
      summary: 'Get user by ID'
      description: 'Retrieve a specific user by their ID'
      parameters:
        - name: id
          in: path
          required: true
          description: 'User ID'
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'User found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    put:
      tags:
        - Users
      summary: 'Update user'
      description: 'Update an existing user'
      parameters:
        - name: id
          in: path
          required: true
          description: 'User ID'
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: 'User updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []
    delete:
      tags:
        - Users
      summary: 'Delete user'
      description: 'Delete a user account'
      parameters:
        - name: id
          in: path
          required: true
          description: 'User ID'
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: 'User deleted successfully'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - bearerAuth: []

  ... (YAML continues for all endpoints, schemas, responses, etc. as generated above)
